<h1>Kunirin-WEB</h1>

<p>Olá <%= @user.first_name %>,</p>
<p>Para poder resetar a sua senha, clique no link abaixo:</p>

<%= link_to "Redefinir sua senha", edit_password_reset_url(@user.password_reset_token) %>

<p> Caso você não tenha pedido por esse email, somente ignore-o.
</p>
